USE [master]
GO
/****** Object:  Database [LOGINBD]    Script Date: 7/09/2023 18:25:54 ******/
CREATE DATABASE [LOGINBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOGINBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOGINBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOGINBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOGINBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOGINBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOGINBD]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 7/09/2023 18:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contraseña] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 7/09/2023 18:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contraseña] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([id_usuario], [nombre], [usuario], [email], [contraseña]) VALUES (1, N'Paola', N'Pao123', N'123@gmail.com', N'ert509ul')
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre], [usuario], [email], [contraseña]) VALUES (2, N'Paola', N'Pao123', N'123@gmail.com', N'ert509ul')
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre], [usuario], [email], [contraseña]) VALUES (3, N'EE', N'EE', N'EE', N'EE')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
USE [master]
GO
